body {
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%) no-repeat;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}