.sobre__titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;

    color: #FFF2E7;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}